.patient-page-wrapper{
    margin: 48px 81px;
}

.patient-card{
    padding: 21px 51px;
    width: 100%;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%), 0 1px 5px rgb(0 0 0 / 27%);
    position: relative;
}

.patient-card-top{
    display: flex;
    margin-bottom: 15px;
}

.patient-card-bottom{
    display: flex;
    align-items: end;
}

.card-title{
    color:#878787;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 15px;
}

.main-info{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-text{
    color: #393939;
    font-weight: 400;
    font-size: 14px;
}

.tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #E5E5E5;
    margin: 40px 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%), 0 1px 5px rgb(0 0 0 / 27%);  }

  .tab {
    display: none;
  }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }

  .tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
    opacity: 1;
    transition: 0.3s opacity ease-in, 0.3s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    transform: translateY(0px);
    text-shadow: 0 0 0;
  }
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .tab:checked + label {
    background-color: #E5E5E5;;
    cursor: default;
  }
  .tab:checked + label:hover {
    background-color: #E5E5E5;;
  }
  .tab + label {
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
  }
  .tab + label:hover {
    background-color: #f9f9f9;
  }
  .tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
  }
  
  .container {
    margin: 0 auto;
    display: block;
    max-width: 800px;
  }
  .container > *:not(.tab-wrap) {
    padding: 0 80px;
  }
  
  h1,
  h2 {
    margin: 0;
    color: #444;
    text-align: center;
    font-weight: 300;
  }
  
  h2 {
    font-size: 1em;
    margin-bottom: 30px;
  }
  
  h3 {
    font-weight: 400;
  }
  
  .tabs{
    background-color: #E5E5E5;
    color: #878787;
    display: flex;
    padding: 1.27em 2.8em;
    font-weight: 200;
    font-size: 15px;
    border-bottom: 1px solid #99999957;
}

.complaints{
  display: flex;
  color: #333;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 15px;
  padding: 19px 42px;
  border-bottom: 1px solid #99999957;
}

.fornow{
  color: #555;
  font-weight: 300;
  font-size: 15px;
}

.fornow__header{
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-id{
  width:4%;
}

.item-description{
  width:15%;
}

.item-duration{
  width:26%;
}

.item-comments{
  width:55%;
} 

.line{
  border-bottom: .5px solid #99999957;
  margin-bottom:25px;
}


.exam-id{
  width:9%;
}

.exam-name{
  width:27%;
}

.item-type{
  width:20%;
}

.life-anamnesis{
  display: flex;
  flex-direction: column;
}

.life-anamnesis-item{
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #99999957;
}

.item-title{
  color: #878787;
  font-size: 16px;
  width: 22%;
}

.disease-item{
  height: fit-content;
  padding: 18px 0;
}

.life-anamnesis-labor{
    width: 60%;
}

.addComplaintBtn{
    position: absolute;
    right: 44px;
    height: 39px;
    top: 14px;
}