.wrapper {
    height: 70px;
    background: #6DA4D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}
.menu-bar-close {
    margin-left: 13rem;
    font-size: 1.6rem;
    background: none;
    color: white;
}
.menu-bar-open {
    font-size: 1.6rem;
    background: none;
    color: white;
}
.menu-bar-open a:visited{
    color: white;
}
.nav-menu {
    background-color: white;
    width: 19%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
  }

  .wrap.active {
    background-color: white;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    top: 0;
    position: fixed;
    transition-timing-function: ease-out;
    transition: 0.55s;
  }
  
  .nav-menu.active {
    left: 0;
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0px 8px 23px;
    list-style: none;
    height: 30px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 300;
  }
  
  .nav-text a:hover {
    background-color:#E5E5E5;
    color: #6DA4D7;
  }
  
  .nav-menu-items {
    width: 100%;
    padding: 0;
    background-color: #6DA4D7;
  }
  
  .navbar-toggle {
    background-color: #6DA4D7;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  