.heading{
    font-size:25px;
    font-weight: 300;
    margin: 25px 0;
}

.main-container{
    background-color: #E5E5E5;
    border-bottom: 1px solid white;
}

.tools{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 45px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.filter{
    display: flex;
    justify-content: space-between;
    width: 38%;
    align-items:center;

}

.search-bar{
    position: relative;
    padding: 10px 35px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    border-radius: 7px;
    width: 150px;
}

textarea:focus, input:focus{
    outline: none;
}

.search-icon{
    position: absolute;
    z-index: 3;
    padding: 8px 7px;
    color: #e5e5e5e8;
    font-size: 22px;
}

.filter-bar{
    display:flex;
    width: 220px;
    height: 37px; 
    background: white;
    align-items:center;
    justify-content: space-between;
    border-radius: 7px;
    padding-left: 7px
}

.search-text{
    font-size:14px;
    font-weight:300;
    color: #393939;
}

.add-patient-btn{
    Width:254px;
    Height:42px;
    background:#6DA4D7;
    color:white;
    border:none;
    border-radius: 7px;
    font-size:14px;
    font-weight: 300;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer !important;
}

